<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="container is-max-widescreen">
    <div class="navbar-brand">
      <a class="navbar-item" ui-sref="home">
        <img class="has-ratio" src="../assets/SPECTACULATOR-40px.png" width="160" height="20" />
      </a>

      <a
        role="button"
        aria-label="menu"
        aria-expanded="false"
        ng-class="['navbar-burger',{'is-active': vm.showNavbarMenu}]"
        ng-click="vm.toggleNavbarMenu($event)"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div ng-class="['navbar-menu', {'is-active': vm.showNavbarMenu}]">
      <div class="navbar-end">
        <div ng-class="['navbar-item has-dropdown', {'is-active': vm.showUserMenu}]">
          <a
            href="#"
            class="navbar-link"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            ng-click="vm.toggleUserMenu($event)"
          >
            <span class="icon"><i class="icon-user img-circle nav-fa-silhouette"></i></span>
            <span> Jon</span>
          </a>

          <div class="navbar-dropdown is-boxed is-right">
            <a class="navbar-item" ng-click="vm.signOut()">
              <span class="icon"><i class="icon-key" aria-hidden="true"></i></span>
              <span>Sign Out</span>
            </a>
          </div>
        </div>
      </div>
      <!-- /navbar-end-->
    </div>
  </div>
</nav>
