<section class="section">
  <div class="box is-contained">
    <div class="columns is-flex-direction-row-reverse py-4">
      <div class="content column is-6">
        <p class="title is-4" translate="not-found.intro">Oops you're lost!</p>
        <p translate="not-found.message">We cannot find the page you're looking for.</p>
        <a ui-sref="home" class="button is-primary" translate="not-found.buttons.return-home"
          >Return home</a
        >
      </div>
      <div class="column is-6">
        <svg-image
          class="has-ratio has-text-accent"
          src="../assets/undraw_page_not_found_su7k.svg"
        />
      </div>
    </div>
  </div>
</section>
